.piano {
  height: 260px;
  margin-bottom: 10px;
}

.flag-counter {
  margin: 30px;
}
.notes {
  height: 175px;
  width: 100px;
  margin-bottom: -60px;
  margin-top: -60px;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.manifesto-headline {
  text-align: center;
}

.page {
  background-image: url("images/pngegg.png");
  background-size: 600px;

  font-size: 15px;
}

.page p {
  width: 400px;
  text-align: center;
  margin-left: 50px;
  margin-top: 30px;
}

.post {
  width: 700px;
  height: auto;
  padding: 10px;
  background-color: #f5faff;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 0px 0px rgba(223, 220, 220, 0.75);
}
iframe {
  aspect-ratio: 16 / 9;
  width: 100% !important;
}

.post-header {
  text-align: center;
}

.welcome {
  font-family: "Palatino", "Georgia", "Times New Roman", "Serif";
}

/* Interlinear Style */

#column-content {
  width: 100%;
  float: right;
  margin: 0 0 0.6em -12.2em;
  padding: 0;
}
#content {
  margin: 2.8em 0 0 12.2em;
  padding: 0 1em 1.5em 1em;
  position: relative;
  z-index: 2;
}
#column-one {
  padding-top: 262px;
}
/* } */
#content {
  background: white;
  color: black;
  border: 1px solid #aaa;
  border-right: none;
  line-height: 1.5em;
}

body {
  font: x-small sans-serif;
  background-image: url(images/card-blue50l35.jpg);
  color: black;
  margin: 0;
  padding: 0;
}

/* scale back up to a sane default */
#globalWrapper {
  font-size: 127%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* general styles */

/* @media screen, projection { */

/* } */

ul {
  line-height: 1.5em;
  list-style-type: square;
  margin: 0.3em 0 0 1.5em;
  padding: 0;
  list-style-image: url(bullet.gif);
}
ol {
  line-height: 1.5em;
  margin: 0.3em 0 0 3.2em;
  padding: 0;
  list-style-image: none;
}
li {
  margin-bottom: 0.1em;
}
dt {
  font-weight: bold;
  margin-bottom: 0.1em;
}

/* Some space under the headers in the content area */

.portlet h5 {
  background: transparent;
  padding: 0 1em 0 0.5em;
  display: inline;
  height: 1em;
  text-transform: lowercase;
  font-size: 91%;
  font-weight: normal;
  white-space: nowrap;
}

.pBody {
  font-size: 95%;
  background-color: white;
  color: black;
  border-collapse: collapse;
  border: 1px solid #aaa;
  padding: 0 0.8em 0.3em 0.5em;
}

/* @media screen, projection { */
#p-logo {
  top: 0;
  left: 0;
  position: absolute; /*needed to use z-index */
  z-index: 5;
  height: 270px;
  width: 12em;
  overflow: visible;
}

#searchGoButton {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
}

#p-search .pBody {
  padding: 0.5em 0.4em 0.4em 0.4em;
  text-align: center;
}

#p-search {
  margin-top: 50px;
}

@media screen and (max-width: 480px) {
  .page p {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .post {
    padding: 5px;
  }

  .notes {
    width: 60px;
  }

  .page {
    background-size: 200px;
  }

  body {
    font-size: small;
  }
}
