@font-face {
  font-family: historyFont;
  src: url(fonts/Archeologicaps.ttf);
}

body {
  background-image: url(images/card-blue50l35.jpg);
}

.piano {
  height: 220px;
  margin-bottom: -50px;
}
.notes {
  height: 175px;
  width: 100px;
  margin-bottom: -60px;
  margin-top: -60px;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.title {
  gap: 10px;
  font-size: 30px;
  margin-right: 5px;
  text-align: center;
}
.nav-links {
  gap: 70px;
  margin-top: -20px;
  font-size: 22px;
  margin-left: 350px;
  display: flex;
}

.content {
  display: flex;

  height: auto;

  justify-content: center;
}

iframe {
  aspect-ratio: 16 / 9;
  width: 100% !important;
}

.feed {
  height: 50%;
  width: 70%;
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 800px;
  align-items: center;
  padding: 20px;
}

.post {
  width: 90%;
  height: 90%;
  padding: 20px;
  border: 2px solid black;
}

.post-header {
  text-align: center;
}

.history-tag {
  background-color: #ffcb9c;
  border-radius: 20px;
  padding: 8px;
  font-size: 15px;
  font-family: historyFont;
  background: linear-gradient(
    90deg,
    rgba(255, 183, 117, 1) 0%,
    rgba(255, 203, 156, 1) 96%
  );
}

.music-tag {
  background-color: #70b2f9;
  border-radius: 20px;
  padding: 8px;
  font-size: 24px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
  .content {
    padding: 10px;
  }

  .title {
    text-align: center;
    font-size: 25px;
  }
  .piano {
    height: 180px;
    margin-bottom: -10px;
  }
  .notes {
    height: 160px;
    width: 80px;
    margin-bottom: -60px;
    margin-top: -60px;
  }
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  .feed {
    width: 100%;
    overflow-x: hidden;
  }
  .post {
    width: 100%;
  }

  .title {
    gap: 10px;
    font-size: 20px;
    margin-right: 12px;
    margin-top: -25px;

    text-align: center;
  }
  .nav-links {
    margin: 0;
    width: 30px;
    gap: 25px;
    margin-top: -20px;
    margin-left: 15px;
  }
  html,
  body {
    overflow-x: hidden;
    width: 100%;
  }
}
