@font-face {
  font-family: historyFont;
  src: url(fonts/Archeologicaps.ttf);
}

body {
  background-image: url(images/card-blue50l35.jpg);
}

.piano {
  height: 250px;
  margin-bottom: -10px;
  border: 2px solid black;
}
.notes {
  height: 175px;
  width: 100px;
  margin-bottom: -60px;
  margin-top: -60px;
  border: 2px solid black;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}

.navbar {
  border: 2px solid black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  margin-top: -30px;
}

.title {
  display: flex;
  gap: 10px;
  font-size: 30px;
}
.nav-left,
.nav-right {
  display: flex;
  gap: 70px;
  margin-top: 50px;
  font-size: 22px;
}

.content {
  display: flex;

  border: 2px solid black;
  height: auto;

  justify-content: space-between;
  align-items: center;
}

iframe {
  aspect-ratio: 16 / 9;
  width: 100% !important;
}

.sidebar {
  border: 2px solid black;
}

.feed {
  border: 2px solid black;
  height: 50%;
  width: 50%;
  text-align: left;
  margin-right: 200px;
}

.post {
  border: 2px solid black;
  width: 90%;
  height: 90%;
  padding: 20px;
}

.post-header {
  text-align: center;
}

.history-tag {
  background-color: #ffcb9c;
  border-radius: 20px;
  padding: 8px;
  font-size: 15px;
  font-family: historyFont;
  background: linear-gradient(
    90deg,
    rgba(255, 183, 117, 1) 0%,
    rgba(255, 203, 156, 1) 96%
  );
}

@media only screen and (max-width: 600px) {
  .nav-left,
  .nav-right {
    flex-direction: column;
    align-items: center;
  }

  .nav-left p,
  .nav-right p {
    margin: 5px 0; /* Adjust margin as needed */
  }

  .content {
    padding: 10px;
  }

  .sidebar {
    display: block; /* Display sidebar on mobile */
  }
}
